/* 
    button, input, optgroup, select, textarea {
        font-family: inherit;
        display: none;
    }

    .entry-title {
        display: none;
    }
   
/* 
    #primary-menu ul{
        color: red;
        list-style-type: none;
        display: flex;
        font-size: 22px;
        padding-left: 450px;


    } */
    
    #logo {
        margin-top: 20px;
        width: 120px;
        height: auto;
        left: 40px;
    }

    .site-header{

        /* background-color: #FFDFB6; */
        background-color: #FFDFB6;
    }

#logo {
    margin-left: 10px;
}
/* .site-main{
    width:900px;
} */



.content-area{
    background-color:#FFDFB6;
    padding:20px;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    display: none;
}

li{
    list-style-type: none;
}
.site-header{
    background-color:#FFDFB6;
}
#primary-menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color:#e4ff95;
    color: white;
    align-items: center;
    margin-right:20px;
    margin-left: 30px;
    margin-top: 30px;
}

#recent-posts-2, #recent-comments-2, #archives-2, #categories-2, #meta-2, #secondary {
    display: none;
}
#colophon{
    background-color: #e4ff95;
    width: 100%;
    height: 70px;
}
footer div{
    float: right;
    margin: 50px;
    margin-top: -40px;
}

.wpcf7-form{
    width: 500px;
    margin-left: 420px;
}


.has-pale-pink-background-color, .woocommerce_cart {
    padding:40px;
    max-width:950px;
    align-content: center;
    justify-self: center;
    margin-left:16%;
}
.entry-content{
    display:flex;
    align-self: center;
    flex-direction:column;
    
}

/* .wp-block-cover, .wp-block-cover-image{
    width:300px;
} */
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    background-color: #e4ff95;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt:hover{
    background-color:pink;
}

.h3, h3 {
    font-family: serif;
}
.menu a, .menu button, .menu input, .menu select{
    color:black;
}
.woocommerce-MyAccount-navigation{
    margin-top:20px;
}
.woocommerce-MyAccount-content{
    margin-top:20px;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
margin-top:80px;
padding:100px;
}
.woocommerce div.product{
    padding:100px;
}
.woocommerce div.product span.price{
    font-size:2em;
}
.tabs wc-tabs{
    display:none;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    background-color:pink;
    width: 100%;
    text-transform: uppercase;
}

.woocommerce ul.products li.product a:hover{
    color:palevioletred;
    background-color: pink;
    border:solid 2pt palevioletred;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    display:none;
}
.comment-reply-title{
    display:none;
}

.related.products{
    background-color:white;
    padding:20px;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
    background-color:white;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.woocommerce-Price-amount{
    font-size:2em;
}
.woocommerce div.product .woocommerce-tabs .panel{
    background-color:white;
    height:200px;
    margin:0;
    padding:20px;
}
/* comment*/