
    button, input, optgroup, select, textarea {
        font-family: inherit;
        display: none;
    }


    #primary-menu ul{
        color: red;
        list-style-type: none;
        display: flex;
        


    }
    .menu{

       
    
    }

    .site-header{

        background-color: #FFDFB6;
    }