
    button, input, optgroup, select, textarea {
        font-family: inherit;
        display: none;
    }

    .entry-title {
        display: none;
    }

/* 
    #primary-menu ul{
        color: red;
        list-style-type: none;
        display: flex;
        font-size: 22px;
        padding-left: 450px;


    } */
    #logo {
        margin-top: 20px;
        width: 120px;
        height: auto;
        position: absolute;
        left: 40px;
    }
    .menu{

       
    
    }

    .site-header{

        background-color: #FFDFB6;
    }

#logo {
    margin-left: 10px;
}





.content-area{
    background-color:#ffe0b6;
    padding:20px;

}

button, input, optgroup, select, textarea {
    font-family: inherit;
    display: none;
}

li{
    list-style-type: none;
}
.site-header{
    background-color:#ffe0b6;
}
#primary-menu>ul{
    display: flex;
    flex-direction: row-reverse;

    justify-content: space-around;
    background-color:#e4ff95;
    width: 100vw;
    color: white;
    align-items: center;
    margin-right:20px;
    margin-top: 100px;
}

#recent-posts-2, #recent-comments-2, #archives-2, #categories-2, #meta-2, #secondary {
    display: none;
}
#colophon{
    background-color: #e4ff95;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

footer img {
    width: 40%;
    
} 






