
    button, input, optgroup, select, textarea {
        font-family: inherit;
        display: none;
    }

    .entry-title {
        display: none;
    }

/* 
    #primary-menu ul{
        color: red;
        list-style-type: none;
        display: flex;
        font-size: 22px;
        padding-left: 450px;


    } */
    #logo {
        margin-top: 20px;
        width: 120px;
        height: auto;
        left: 40px;
    }

    .site-header{

        background-color: #FFDFB6;
    }

#logo {
    margin-left: 10px;
}
/* .site-main{
    width:900px;
} */



.content-area{
    background-color:#ffe0b6;
    padding:20px;
    

}

button, input, optgroup, select, textarea {
    font-family: inherit;
    display: none;
}

li{
    list-style-type: none;
}
.site-header{
    background-color:#ffe0b6;
}
#primary-menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color:#e4ff95;
    color: white;
    align-items: center;
    margin-right:20px;
    margin-left: 30px;
    margin-top: 30px;
}

#recent-posts-2, #recent-comments-2, #archives-2, #categories-2, #meta-2, #secondary {
    display: none;
}
#colophon{
    background-color: #e4ff95;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

footer img {
    width: 40%;
    padding-top: 20px;
    
} 

.wpcf7-form{
    width: 500px;
    margin-left: 420px;
}


.has-pale-pink-background-color, .woocommerce_cart {
    padding:40px;
    max-width:950px;
    align-content: center;
    justify-self: center;
    margin-left:16%;
}
.entry-content{
    display:flex;
    align-self: center;
    flex-direction:column;
    
}

/* .wp-block-cover, .wp-block-cover-image{
    width:300px;
} */
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    background-color: #e4ff95;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt:hover{
    background-color:pink;
}
:root .has-pale-pink-background-color{
    height:100vh;
}
.h3, h3 {
    font-family: serif;
}
.menu a, .menu button, .menu input, .menu select{
    color:black;
}
.woocommerce-MyAccount-navigation{
    margin-top:20px;
}
.woocommerce-MyAccount-content{
    margin-top:20px;
}